table{
    width : 50%;
    margin: 10%;
    background-color:cadetblue;
    border: 2px solid Black;
}
input[type="submit"]{
    background-color: aquamarine;
}
input[type="text"]:focus{
    background-color: burlywood;
}
input[type="text"]{
    width: 60%;
    padding: 2%;
    
}
td{
    padding: 5%;
}
