ul{
    list-style-type: none;
    margin : 10 px;
    padding : 5px;
    overflow : hidden;
    background-color: #92a8d1;
}
li{
    float : left;
}
li a{
    display : inline-block;
    color : white;
    text-align: center;
    padding : 14px 16px;
    text-decoration: underline;
    font-size: large;
}
.title{
    background-color: #34568b;
    color: white;
    font-size: xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: bold;
    padding : 20 px ;
    text-align: center;
    vertical-align: center;
}
